body {
	font-family: Arial, Helvetica, sans-serif;	
	color: white;
}

#gravityCanvas{
	position: fixed;
	top: 0px;
	left: 0px;
}

p{
	color: white;
}

#fps{
	z-index: 99999;
	position: absolute;
	top: 5px;
	left: 20px;
}

#number{
	z-index: 99999;
	position: absolute;
	top: 25px;
	left: 20px;
}

#help{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#help h4{
	position: relative;
	top: 16px;

}

#help li{
	position: relative;
	left: -20px;

}
